@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.News>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
    <!--LatestNews Macro wird aufgerufen mit wie viel Content pro Seite und dem Startknoten-->
    <div class="container contentBox">
        @Html.Partial("header")
        <hr>
        @Umbraco.RenderMacro("LatestNews",
        new
            {
                numberOfNews = Model.HowManyNewsShouldBeShown,
                startNodeId = Model.Id
            })
        @{
        }
    </div>